<!-- <div class="space float-left board-boundary"> -->
<div class="space float-left">
    <div *ngIf="!selected && !attacked && !valid" class="background">
        <img src="{{ space.background }}" alt="space">
    </div>
    <div *ngIf="selected" class="highlight">
        <img src="{{ selectedHighlight }}" alt="">
    </div>
    <div *ngIf="attacked" class="highlight">
        <img src="{{ attackedHighlight }}" alt="">
    </div>
    <div *ngIf="valid" class="highlight">
        <img src="{{ validHighlight }}" alt="">
    </div>
    <!-- <div class="piece" cdkDragBoundary=".board-boundary" cdkDrag> -->
    <div class="piece">
        <img *ngIf="space.piece" src="{{ space.piece.sprite }}" alt="piece">
    </div>
</div>

<!-- <div class="example-boundary">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
        I can only be dragged within the dotted container
    </div>
</div> -->
